{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
    	<!-- 여기 부트스트랩 테스트 코딩 디바이스 크기에 따라 하는거.-->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	 
        <title>GNU 공과대학 회의실 어울마루</title>

        <link rel="stylesheet" href="{% static 'css/blog_2.css' %}">
    </head>
    <body>
                <script>
                    window.fbAsyncInit = function() {
                    FB.init({
                    appId      : '1952745621645441',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v2.12'
                    });
      
                    FB.AppEvents.logPageView();   
      
                    };

                    (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
 
    	<!-- 여기 부트스트랩 테스트 코딩 디바이스 크기에 따라 하는거.-->    	
        <div class="page-header">
        	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        	{% if user.is_authenticated %}
        	{% endif %}
                    
                <div id="fb-root" ></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.12&appId=1952745621645441&autoLogAppEvents=1';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>  
                
                <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>

        <!-- 타이틀 로고랑 타이틀-->   
        
        <div class ="title">
            <div class="title_logo">       
                <a href="/"><img src="{% static 'img/logo_N.jpg' %}"  style=" width: 100%;" /></a>
            </div>
            <div class="title_text">       
                <h1>GNU 공과대학 회의실 어울마루</h1>
            </div>
        </div>

        <!-- 메뉴 바 1. 공지사항 2. 회의실 소개  3. 검 색-->   
        
        <div id="menu">
            <li class = "first"><a href="{% url 'post_list' %}">공지사항</a></li>
            <li class="first"><a href="{% url 'photo' %}">회의실 소개</a></li>
            <li><a href="{% url 'Room_Reservation' %}">회의실 예약</a></li>
        </div>


        <!-- <div class="content container"> -->
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        <!-- </div> -->
    </body>
</html>