{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
    	<!-- 여기 부트스트랩 테스트 코딩 디바이스 크기에 따라 하는거.-->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	 <!-- 항상 최신 버전의 SDK를 사용합니다. -->
        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

        <!-- kakao login -->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

        <title>GNU 공과대학 회의실 어울마루</title>

        <link rel="stylesheet" href="{% static 'css/blog_2.css' %}">
    </head>
    <body> 
    	<!-- 여기 부트스트랩 테스트 코딩 디바이스 크기에 따라 하는거.-->    	
        <div class="page-header">
                          
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span ><button type="submit" ><h1> 글 추가하기 </h1> </button></span></a>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span><button type="submit" ><h1> 글 추가하기 </h1> </button></span></a>
        {% endif %}
        </div>

        <!-- 타이틀 로고랑 타이틀-->   
        
        <div class ="title">
            <div class="title_logo">       
                <a href="/"><img src="{% static 'img/logo_N.jpg' %}"  style=" width: 100%;" /></a>
            </div>
            <div class="title_text">       
                <h1>GNU 공과대학 회의실 어울마루</h1>
            </div>
        </div>

        <!-- 메뉴 바 1. 공지사항 2. 회의실 소개  3. 검 색-->   
        
        <div id="menu">
            <li class = "first"><a href="{% url 'post_list' %}">공지사항</a></li>
            <li class="first"><a href="{% url 'photo' %}">회의실 소개</a></li>
            <li><a href="{% url 'Room_Reservation' %}">회의실 예약</a></li>
        </div>

        <!-- <div class="content container"> -->
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
    </body>
        <!-- </div> -->
</html>